<!--[if !IE]> -->
<script type="text/javascript">
	window.jQuery || document.write("<script src='${ctxPath}/static/lib/js/jquery.js'>"+"<"+"/script>");
</script>
<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
	window.jQuery || document.write("<script src='${ctxPath}/static/lib/js/jquery1x.js'>"+"<"+"/script>");
</script>
<![endif]-->
<script type="text/javascript">
	if('ontouchstart' in document.documentElement) document.write("<script src='${ctxPath}/static/lib/js/jquery.mobile.custom.js'>"+"<"+"/script>");
</script>
<!--  
<script src="${ctxPath}/static/lib/js/bootstrap.js"></script>
-->
<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
	<script src="${ctxPath}/static/lib/js/excanvas.js"></script>
<![endif]-->

<script src="${ctxPath}/static/lib/zui/js/zui.min.js"></script>
<script src="${ctxPath}/static/lib/zui/lib/datatable/zui.datatable.min.js"></script>

<script src="${ctxPath}/static/lib/js/jquery-ui.custom.js"></script>
<script src="${ctxPath}/static/lib/js/jquery.ui.touch-punch.js"></script>
<script src="${ctxPath}/static/lib/js/jquery.gritter.js"></script>
<script src="${ctxPath}/static/lib/js/bootbox.js"></script>
<script src="${ctxPath}/static/lib/js/jquery.easypiechart.js"></script>
<script src="${ctxPath}/static/lib/js/jquery.sparkline.js"></script>
<script src="${ctxPath}/static/lib/js/flot/jquery.flot.js"></script>
<script src="${ctxPath}/static/lib/js/flot/jquery.flot.pie.js"></script>
<script src="${ctxPath}/static/lib/js/flot/jquery.flot.resize.js"></script>
<script src="${ctxPath}/static/lib/js/date-time/bootstrap-datepicker.js"></script>
<script src="${ctxPath}/static/lib/js/date-time/bootstrap-timepicker.js"></script>
<script src="${ctxPath}/static/lib/js/jquery.hotkeys.js"></script>
<script src="${ctxPath}/static/lib/js/bootstrap-wysiwyg.js"></script>
<script src="${ctxPath}/static/lib/js/select2.js"></script>
<script src="${ctxPath}/static/lib/js/fuelux/fuelux.spinner.js"></script>
<script src="${ctxPath}/static/lib/js/x-editable/bootstrap-editable.js"></script>
<script src="${ctxPath}/static/lib/js/x-editable/ace-editable.js"></script>
<script src="${ctxPath}/static/lib/js/jquery.knob.js"></script>
<script src="${ctxPath}/static/lib/js/ace/elements.treeview.js"></script>
<script src="${ctxPath}/static/lib/js/jquery.maskedinput.js"></script>
<script src="${ctxPath}/static/lib/js/jquery.form.min.js"></script>

<script src="${ctxPath}/static/lib/js/chosen.jquery.js"></script>
<script src="${ctxPath}/static/lib/js/fuelux/fuelux.spinner.js"></script>
<script src="${ctxPath}/static/lib/js/date-time/moment.js"></script>
<script src="${ctxPath}/static/lib/js/date-time/daterangepicker.js"></script>
<!--  
<script src="${ctxPath}/static/lib/js/date-time/bootstrap-datetimepicker.js"></script>
-->
<script src="${ctxPath}/static/lib/zui/lib/datetimepicker/datetimepicker.min.js"></script>
<script src="${ctxPath}/static/lib/js/bootstrap-colorpicker.js"></script>
<script src="${ctxPath}/static/lib/js/jquery.autosize.js"></script>
<script src="${ctxPath}/static/lib/js/jquery.inputlimiter.1.3.1.js"></script>
<script src="${ctxPath}/static/lib/js/jquery.maskedinput.js"></script>
<script src="${ctxPath}/static/lib/js/bootstrap-tag.js"></script>

<!-- ace scripts -->
<script src="${ctxPath}/static/lib/js/ace/elements.colorpicker.js"></script>
<script src="${ctxPath}/static/lib/js/ace/elements.fileinput.js"></script>
<script src="${ctxPath}/static/lib/js/ace/elements.scroller.js"></script>
<script src="${ctxPath}/static/lib/js/ace/elements.colorpicker.js"></script>
<script src="${ctxPath}/static/lib/js/ace/elements.fileinput.js"></script>
<script src="${ctxPath}/static/lib/js/ace/elements.typeahead.js"></script>
<script src="${ctxPath}/static/lib/js/ace/elements.wysiwyg.js"></script>
<script src="${ctxPath}/static/lib/js/ace/elements.spinner.js"></script>
<script src="${ctxPath}/static/lib/js/ace/elements.treeview.js"></script>
<script src="${ctxPath}/static/lib/js/ace/elements.wizard.js"></script>
<script src="${ctxPath}/static/lib/js/ace/elements.aside.js"></script>
<script src="${ctxPath}/static/lib/js/ace/ace.js"></script>
<script src="${ctxPath}/static/lib/js/ace/ace.ajax-content.js"></script>
<script src="${ctxPath}/static/lib/js/ace/ace.touch-drag.js"></script>
<script src="${ctxPath}/static/lib/js/ace/ace.sidebar.js"></script>
<script src="${ctxPath}/static/lib/js/ace/ace.sidebar-scroll-1.js"></script>
<script src="${ctxPath}/static/lib/js/ace/ace.submenu-hover.js"></script>
<script src="${ctxPath}/static/lib/js/ace/ace.widget-box.js"></script>
<script src="${ctxPath}/static/lib/js/ace/ace.settings.js"></script>
<script src="${ctxPath}/static/lib/js/ace/ace.settings-rtl.js"></script>
<script src="${ctxPath}/static/lib/js/ace/ace.settings-skin.js"></script>
<script src="${ctxPath}/static/lib/js/ace/ace.widget-on-reload.js"></script>
<script src="${ctxPath}/static/lib/js/ace/ace.searchbox-autocomplete.js"></script>
<script src="${ctxPath}/static/lib/js/bootstrap-multiselect.js"></script>

<!-- ueditor -->
<script type="text/javascript">
    function getCtxPath() {
        return "${ctxPath}";
    }
</script>
<script type="text/javascript" charset="utf-8" src="${ctxPath}/static/lib/ueditor/ueditor.config.js"></script>		
<script type="text/javascript" charset="utf-8" src="${ctxPath}/static/lib/ueditor/ueditor.all.min.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="${ctxPath}/static/lib/ueditor/lang/zh-cn/zh-cn.js"></script>
<!-- ueditor -->

<script type="text/javascript" charset="utf-8" src="${ctxPath}/static/lib/ztree/js/jquery.ztree.all.min.js"></script>


<!-- 根据传入的ID来动态的为某个选项附加选中样式 -->
<script>
	var currentMenu = '${session._func!'dashBoard'}';
	var arr = currentMenu.split("-");
	var menuLevel = arr.length;
	if(menuLevel>1){
		for(var i=0;i<menuLevel;i++){
			
		if(i==(menuLevel-1)){
				$("#"+arr[menuLevel-1]).addClass("active");
			}else{
				$("#"+arr[i]).addClass("active open");
			}
		}
	}else{
		$("#"+arr).addClass("active");
	}
</script>

${pageJavaScript}
