<% var pageJavaScript = { %>
<script>
jQuery(function($) {

    //$('table.datatable').datatable({checkable: false, sortable: true});
    $('#checkAll').click(function(){
        $('input[name="job_ids"]').attr("checked",this.checked);
    });

});

function deleteByid(id) {
	bootbox.confirm("确定删除 ?", function(result) {
		if(result) {
			location.href = "${ctxPath}/job/pc/delete?id=" + id;
		}
	});
}

function deleteAll() {
    var ids = [];

    bootbox.confirm("确定删除 ?", function(result) {

        if(result) {
            $('input[name="job_ids"]:checked').each(function(){
                ids.push($(this).val());
            });

            location.href = "${ctxPath}/job/pc/delete?id=" + ids.join();
        }
    });

}
</script>
<%}; %>

<%
layout("/common/layout/_main_layout.html",{pageTitle:'用户管理', pageJavaScript:pageJavaScript}){
%>

<h4 class="header blue">用户列表</h4>

<div class="row">
	<div class="col-xs-12">
		<form id="queryForm" name="queryForm" class="form-inline" role="form" action="${ctxPath}/job/pc/userIndex" method="get">
			<input type="hidden" name="page" />
			<label>用户名称</label>
			<input type="text" class="input-large" name="name" placeholder="用户名称" value="${name!}"/>
			<button type="submit" class="btn btn-info btn-sm" style="margin-left: 30px">
				<i class="ace-icon fa fa-key bigger-110"></i>查询
			</button>
<!--
            <button type="button" onclick="deleteAll()" class="btn btn-info btn-sm" style="margin-left: 30px">
                <i class="ace-icon fa fa fa-trash-o bigger-110"></i>删除当前选中
            </button>-->

		</form>
	</div>
</div>

<div class="hr hr-double dotted"></div>

<div id="row">

<table class="table datatable">
  <thead>
    <tr>

        <th data-width="3%"><input type="checkbox" id="checkAll"></th>
        <th data-width="35%">用户名称</th>
        <th data-width="20%">openid</th>
        <th data-width="10%">联系电话</th>
        <th data-width="10%">黑名单</th>
        <th data-width="10%">创建时间</th>
        <th data-width="5%">操作</th>
    </tr>
  </thead>
  <tbody>
<%
for(item in page.list){
%>

  <tr>
    <td><input type="checkbox" name="job_ids" value="${item.id}"></td>
    <td>${item.name}</td>
    <td>${item.openId}</td>
      <td>${item.tel}</td>
      <td>
          <% if(item.blacklist == "1") {%>
          已加入
          <% } else if (item.blacklist == "0") {%>
          未加入
          <% } %>

      </td>
    <td>${item.createDate}</td>


	<td>
		<div class="hidden-sm hidden-xs action-buttons">
			<a title="加入黑名单" class="green" href="${ctxPath}/job/pc/updateBlacklist/?id=${item.id}&blacklist=1"> <i class="ace-icon fa fa-pencil bigger-130"></i></a>
			<a title="取消加入黑名单" class="blue" href="${ctxPath}/job/pc/updateBlacklist/?id=${item.id}&blacklist=0"> <i class="ace-icon fa fa-edit bigger-130"></i></a>
			<!--<a title="删除" class="red" href="javascript:deleteByid(${item.id});"> <i class="ace-icon fa fa-trash-o bigger-130"></i></a>-->
		</div>

	</td>         
  </tr>

<%}%>   
  </tbody>  
</table>

<#page uri="${ctxPath}/job/pc/userIndex" page="${page}" params="username"/>

</div>
<%} %>