<% var pageJavaScript = { %>
<script>
jQuery(function($) {
	$('table.datatable').datatable({checkable: true, sortable: true});
});
function deleteByid(id) {
	bootbox.confirm("确定删除 ?", function(result) {
		if(result) {
			location.href = "${ctxPath}/system/page/delete?id=" + id;
		}
	});
}
</script>
<%}; %>

<%
layout("/common/layout/_main_layout.html",{pageTitle:'页面管理', pageJavaScript:pageJavaScript}){
%>

<h4 class="header blue">页面查询</h4>

<div class="row">
	<div class="col-xs-12">
		<form id="queryForm" name="queryForm" class="form-inline" role="form" action="${ctxPath}/system/page" method="get">
			<input type="hidden" name="page" />
			<label>用户名称</label>
			<input type="text" class="input-small" name="no" placeholder="用户名称" value="${no!}"/>
			<label>页面名称</label>
			<input type="text" class="input-small" name="name" placeholder="页面名称" value="${name!}"/> 
			<button type="submit" class="btn btn-info btn-sm">
				<i class="ace-icon fa fa-key bigger-110"></i>查询
			</button>
			<a type="button" href="${ctxPath}/system/page/add" class="btn btn-info btn-sm">
				<i class="ace-icon fa fa-key bigger-110"></i>新增
			</a>
			<a type="button" href="${ctxPath}/system/page/refreshCache" class="btn btn-info btn-sm">
				<i class="ace-icon fa fa-key bigger-110"></i>刷新缓存
			</a>			
		</form>
	</div>
</div>

<div class="hr hr-double dotted"></div>

<div id="row">

<table class="table datatable">
  <thead>
    <tr>
      <th data-width="5%">编号</th>
      <th data-width="5%">发布人</th>
      <th data-width="10%">名称</th> 
      <th data-width="15%">描述</th>
      <th data-width="8%">状态</th>
      <th data-width="15%">创建时间</th>
      <th data-width="10%">最后更新人</th>
      <th data-width="15%">最后更新时间</th>
      <th data-width="10%">操作</th>
    </tr>
  </thead>
  <tbody>
<%
for(item in page.list){
%>

  <tr>
    <td>${item.id}</td>
    <td>${item.no}</td>
    <td>${item.name}</td>
    <td>${item.desc}</td>
    <td>${valuedesc("STATUS_COMMON", item.status)}</td>
    <td>${item.createDate}</td>   
    <td>${item.lastUpdAcct}</td>
    <td>${item.lastUpdTime}</td>   
	<td>
		<div class="hidden-sm hidden-xs action-buttons">
			<a title="预览" target="_blank" class="blue" href="${ctxPath}/system/page/preview?id=${item.id}"> <i class="ace-icon fa fa-search-plus bigger-130"></i></a> 
			<a title="编辑" class="green" href="${ctxPath}/system/page/update?id=${item.id}"> <i class="ace-icon fa fa-pencil bigger-130"></i></a> 
			<a title="删除" class="red" href="javascript:deleteByid(${item.id});"> <i class="ace-icon fa fa-trash-o bigger-130"></i></a>
		</div>

		<div class="hidden-md hidden-lg">
			<div class="inline position-relative">
				<button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto"><i class="ace-icon fa fa-caret-down bigger-110"></i></button>
				<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
					<li><a target="_blank" href="${ctxPath}/system/page/preview?id=${item.id}" class="tooltip-info" data-rel="tooltip" title="预览"><span class="blue"><i class="ace-icon fa fa-search-plus bigger-120"></i></span></a></li>
					<li><a href="${ctxPath}/system/page/update?id=${item.id}" class="tooltip-success" data-rel="tooltip" title="编辑"> <span class="green"><i class="ace-icon fa fa-pencil-square-o bigger-120"></i></span></a></li>
					<li><a href="javascript:deleteByid(${item.id});" class="tooltip-error" data-rel="tooltip" title="删除"> <span class="red"><i class="ace-icon fa fa-trash-o bigger-120"></i></span></a></li>
				</ul>
			</div>
		</div>
	</td>         
  </tr>

<%}%>   
  </tbody>  
</table>

<#page uri="${ctxPath}/system/data" page="${page}" params="type,typeDesc"/>

</div>
<%} %>